<nav class="navbar navbar-expand-lg navbar-dark bg-dark" role="navigation" ng-controller="HeaderController as headerCtrl">
	<div class="container">
		<div class="col-sm-2">
			<a class="navbar-brand" ui-sref="home">
				<img width="100%" src="../assets/img/op_azul_claro.png">
			</a>
		</div>

		<button type="button"
			class="navbar-toggler"
			data-toggle="collapse"
			aria-controls="header_principal"
			data-target="#header_principal"
			aria-expanded="false"
			aria-label="Menu principal">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div id="header_principal" class="collapse navbar-collapse justify-content-between">
			<ul class="navbar-nav">
				<li ui-sref-active="active" class="nav-item active">
					<a class="nav-link" ui-sref="home">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" ui-sref="posts">Fórum</a>
				</li>
			</ul>

			<div class="col-sm-10">
				<div class="d-flex justify-content-end">
					<div class="col-sm-3">
						<div class="d-flex justify-content-end">
							<div class="searchbar h-50">
								<input class="search_input col-sm-8" ng-class="{'search_input_filled': headerCtrl.pesquisa}"
									ng-keyup="$event.keyCode == 13 ? headerCtrl.goSearch() : null" type="text" name="search" placeholder="Pesquisar..." ng-model="headerCtrl.pesquisa">

								<a ui-sref="search_posts({search: headerCtrl.pesquisa})" class="search_icon col-sm-8"
									ng-class="{'search_icon_input_filled': headerCtrl.pesquisa}">
									<i class="fa fa-search"></i>
								</a>
							</div>
						</div>
					</div>

					<div class="d-flex align-items-center">
						<ul class="navbar-nav" ng-if="!headerCtrl.user">
							<li class="nav-item"><a class="nav-link" ui-sref="signup"><i class="fa fa-user-plus"></i> Sign Up</a></li>
							<li class="nav-item"><a class="nav-link" ui-sref="login"><i class="fa fa-sign-in"></i> Login</a></li>
						</ul>

						<ul class="navbar-nav" ng-if="headerCtrl.user">
							<li class="nav-item"><a class="nav-link" ng-click="headerCtrl.openModalNotifications()">
								<i class="fa fa-bell"></i> Notificações
								<span ng-if="headerCtrl.newNotifications" class="badge badge-pill badge-danger">
									{{headerCtrl.newNotifications}}
								</span>
							</a></li>
							<li class="nav-item"><a class="nav-link" ui-sref="profile"><i class="fa fa-user"></i> Perfil</a></li>
							<li class="nav-item"><a class="nav-link" ui-sref="logout"><i class="fa fa-sign-out"></i> Sair</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</nav>

<notifications></notifications>