<div class="modal" id="notificationsModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Notificações</h3>
                <button type="button" class="close" ng-click="notificationsCtrl.closeModal()" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal_body_notification">
                <div ng-repeat="notification in notificationsCtrl.notifications">
                    <div id="notification_item">
                        <div class="d-flex align-items-center">
                            <div class="col-sm-1 text-right">
                                <i class="fa fa-comment fa-lg"></i>
                            </div>
                            <div class="col-sm-8">
                                <a ng-if="notification.nova_notificacao == 'N'" class="text-dark"
                                   ng-click="notificationsCtrl.goToPost(notification.postagem_id)">
                                    {{notification.mensagem_enviada}}
                                </a>
                                <a ng-if="notification.nova_notificacao == 'S'" class="text-dark"
                                   ng-click="notificationsCtrl.goToPost(notification.postagem_id)">
                                    <span class="badge badge-pill badge-info">new</span>
                                    <b>{{notification.mensagem_enviada}}</b>
                                </a>
                            </div>
                            <div class="col-sm-3 text-right">
                                <p class="text-primary"><small>{{ notificationsCtrl.getDataFormatadaNotificacao(notification.data_alteracao) }}</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>