.form-group.required .control-label:after {
    content:" *";
    color:red;
}

body {
	background-color: #ECF0F1;
	margin-bottom: 100px;
	overflow-y: scroll;
}

.card {
    margin-bottom: 20px;
    border: none
}

.login-box {
    width: 100%;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 70%;
    background: #343635;
    text-align: center;
    margin-top: 5%;
    border-radius: 20px;
    color: white;
}

.login-box .form-group  {
    margin-top: 30px;
    justify-content: center;
}

.login-box button, a {
    border-radius: 10px;
    margin-top: 10px;
}

.spinner-button {
	margin: 0;
	width: 70px;
	height: 20px;
	text-align: center;
}

.spinner-button > div {
	width: 18px;
	height: 18px;
	background-color: rgba(255, 255, 255, .5);
	border-radius: 100%;
	display: inline-block;
	-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner-button .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.spinner-button .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

.spinner-content .spinner-button {
	margin-left: auto;
	margin-right: auto;
}

.spinner-content .spinner-button > div {
	background-color: rgba(0, 0, 0, 0.5);
}

.vl {
  border-left: 1px solid gray;
  height: 400px;
}

.project-menu {
	margin-bottom: 20px;
	font-size: 14px;
    background-color: #ECF0F1;
}

.project-menu li{
	text-decoration: none;
	color: #7f8c8d;
	text-transform: uppercase;
	cursor: pointer;
}

.project-menu .active {
	background-color: white;
}

.project-menu li{
    text-align: center;
    padding: 12px;
    border-bottom: 2px solid transparent;
}

.project-menu a{
    flex-grow: 1;
    text-decoration: none;
}

.project-menu li:hover {
	border-bottom: 2px solid #7f8c8d;
}

.project-menu .active li:hover {
	cursor: default;
	border-bottom: 2px solid transparent;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.searchbar {
    margin-bottom: auto;
    margin-top: auto;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
}

.search_input {
    color: white;
    border: 0;
    outline: 0;
    outline-color: #353b48;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 30px;
    transition: width 0.4s linear;
}

.searchbar:hover > .search_input {
    width: 300px;
    caret-color:#4dc2cb;
    transition: width 0.4s linear;
}

.searchbar:hover > .search_icon {
    background: white;
    color: #4dc2cb;
}

.search_icon {
    height: 30px;
    width: 30px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
    margin: auto;
}

.search_input_filled {
    padding: 0 10px;
    width: 300px;
    caret-color:#4dc2cb;
}

.search_icon_input_filled {
    background: white;
    color: #4dc2cb;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #353b48 inset;
    -webkit-text-fill-color: white !important;
}