.form-group.required .control-label:after {
  content:" *";
  color:red;
}

.login-image {
  background-image: url("../img/code_wallpaper.png");
  background-color: #cccccc;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.post-header{
  display: flex;
  justify-content: space-between;
}