body {
	background: #ECF0F1;
	margin-bottom: 100px;
}

.loginSignup {
    width: 100%;
}

.login-box {
    padding: 30px;
    background: #4dc2cb;
    text-align: center;
    margin-top: 10%;
    border-radius: 20px;
    color: white;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.16), 0 10px 10px rgba(0, 0, 0, 0.23);
}

.spinner-button {
	margin: 0;
	text-align: center;
}

.spinner-button > div {
	width: 18px;
	height: 18px;
	background-color: rgba(255, 255, 255, .5);
	border-radius: 100%;
	display: inline-block;
	-webkit-animation: sk-bouncedelay 0.4s infinite ease-in-out both;
	animation: sk-bouncedelay 0.4s infinite ease-in-out both;
}

.spinner-button .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.spinner-button .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

.spinner-content .spinner-button {
	margin-left: auto;
	margin-right: auto;
}

.spinner-content .spinner-button > div {
	background-color: rgba(0, 0, 0, 0.5);
}

.vl {
  border-left: 1px solid rgba(0,0,0,.1);
  height: 70vh;
}

.posts-menu {
	margin-bottom: 20px;
	font-size: 14px;
}

.posts-menu .active {
	border-bottom: 2px solid #4dc2cb;
}

.posts-menu li {
    text-transform: uppercase;
	cursor: pointer;
    text-align: center;
    padding: 5px;
    border-bottom: 2px solid rgba(0,0,0,.1);
}

.posts-menu a {
    flex-grow: 1;
    text-decoration: none;
    color: #000000
}

.posts-menu a:hover {
	color: #4dc2cb;
}

.posts-menu .active a {
	color: #4dc2cb;
	font-weight: bold;
}

.posts-menu .active li:hover {
	cursor: default;
	border-bottom: 2px solid transparent;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.searchbar {
    margin-top: 5px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 3px;
}

.search_input {
    color: white;
    border: 0;
    outline: 0;
    outline-color: #353b48;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 30px;
    transition: width 0.4s linear;
}

.searchbar:hover > .search_input {
    width: 300px;
    caret-color:#4dc2cb;
    transition: width 0.4s linear;
}

.searchbar:hover > .search_icon {
    background: white;
    color: #4dc2cb;
}

.search_icon {
    height: 30px;
    width: 30px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
}

.search_input_filled {
    padding: 0 10px;
    width: 300px;
    caret-color:#4dc2cb;
}

.search_icon_input_filled {
    background: white;
    color: #4dc2cb;
}

input[name=search]:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #353b48 inset;
    -webkit-text-fill-color: white !important;
}

input[name=username]:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 20px #4dc2cb inset;
    -webkit-text-fill-color: black !important;
}

input[name=email]:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 20px #4dc2cb inset;
    -webkit-text-fill-color: black !important;
}

.input_login {
    background-color: #4dc2cb;
    border: none;
    border-bottom: 1px solid #FFFFFF;
    border-top: 0px;
    border-radius: 0px;
    outline: 0;
    padding: 5px;
    margin-bottom: 20px;
    color: #000000;
}

.input_login:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid #FFFFFF;
    outline: 0;
    background-color: #4dc2cb;
    color: #000000;
}

#notification_item {
    padding: 10px 0;
    border-bottom: 1px solid #D3D3D3;

}

#modal_body_notification {
    height: 80vh;
    overflow-y: scroll;
}