<!DOCTYPE html>
<html ng-app="dev_share" lang="pt_BR">
	<head>
		<title>Dev share</title>
		<link rel="icon" href="../assets/img/icone1.png">
		
		<meta charset="UTF-8">
		<meta name="description" content="Fórum de Tecnologia">
		<meta name="keywords" content="fórum, dev, tecnologia">
		
		<link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
	    <link href="../node_modules/angular-ui-bootstrap/dist/ui-bootstrap-csp.css" rel="stylesheet" />
	    <link href="../node_modules/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet" />
	    <link href="../node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker3.standalone.min.css" rel="stylesheet" />
		<link href="../node_modules/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
		<link href="../node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

    	<!-- CSS -->
    	<link href="../assets/css/style.css" rel="stylesheet" />
	</head>

	<body ng-cloak ng-class="{loginSignup: $root.assertStateName('login') || $root.assertStateName('signup')}">

		<div ui-view="uiViewHeader"></div>
		<!-- View para o conteúdos de login e cadastro -->

		<div id="uiViewHomeLoginSignup">
			<div ui-view="uiViewHomeLoginSignup"></div>
		</div>

		<div class="container" style="padding-top:20px">
	  		<div class="row anim-in-out anim-fade"
		   		id="container-principal"
		   		data-anim-speed="240"
		   		ui-view="uiViewContent">
	  		</div>
	    </div>

		<footer class="navbar fixed-bottom" ng-class="{'navbar-dark bg-dark': !$root.assertStateName('login') && !$root.assertStateName('signup')}">
			<div class="container justify-content-center">
				<div class="col-sm-6 text-center">
					<img ng-if="!$root.assertStateName('login') && !$root.assertStateName('signup')" width="5%" src="../assets/img/icone2.png">
					<img ng-if="$root.assertStateName('login') || $root.assertStateName('signup')"width="5%" src="../assets/img/icone3.png">
					<p class="navbar-text">&copy; 2021 DevShare - Todos os direitos reservados.</p>
				</div>

			</div>
		</footer>
	
		<!-- LIBS -->
	    <script type="text/javascript" src="../node_modules/lodash/lodash.min.js"></script>
	    <script type="text/javascript" src="../node_modules/moment/min/moment.min.js"></script>
	    <script type="text/javascript" src="../node_modules/moment/locale/pt-br.js"></script>
	    <script type="text/javascript" src="../node_modules/angular/angular.min.js"></script>
		<script type="text/javascript" src="../node_modules/jquery/jquery.min.js"></script>
		<script type="text/javascript" src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
	    <script type="text/javascript" src="../node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
	    <script type="text/javascript" src="../node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
	    <script type="text/javascript" src="../node_modules/@uirouter/angularjs/release/angular-ui-router.min.js"></script>
	    <script type="text/javascript" src="../node_modules/restangular/dist/restangular.min.js"></script>
	    <script type="text/javascript" src="../node_modules/angular-breadcrumb/dist/angular-breadcrumb.min.js"></script>
	    <script type="text/javascript" src="../node_modules/angular-md5/angular-md5.min.js"></script>
	    <script type="text/javascript" src="../node_modules/angular-local-storage/dist/angular-local-storage.min.js"></script>
	    <script type="text/javascript" src="../node_modules/bootstrap-switch/dist/js/bootstrap-switch.min.js"></script>
	    <script type="text/javascript" src="../node_modules/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
	    <script type="text/javascript" src="../node_modules/bootstrap-datepicker/dist/locales/bootstrap-datepicker.pt-BR.min.js"></script>
	    <script type="text/javascript" src="../node_modules/angular-scroll/angular-scroll.min.js"></script>
	    <script type="text/javascript" src="../node_modules/angulartics-google-analytics/dist/angulartics-google-analytics.min.js"></script>

		<script type="text/javascript" src="app.module.js"></script>
		<script type="text/javascript" src="app.route.js"></script>
		<script type="text/javascript" src="services/DevShareService.js"></script>
		<script type="text/javascript" src="services/AuthModule.js"></script>
		<script type="text/javascript" src="login/LoginController.js"></script>
		<script type="text/javascript" src="login/LogoutController.js"></script>
		<script type="text/javascript" src="home/Home.js"></script>
		<script type="text/javascript" src="header/Header.js"></script>
		<script type="text/javascript" src="signup/SignUpController.js"></script>
		<script type="text/javascript" src="posts/Posts.js"></script>
		<script type="text/javascript" src="posts/ExpandedPost.js"></script>
		<script type="text/javascript" src="profile/Profile.js"></script>
		<script type="text/javascript" src="notifications/Notifications.js"></script>
	</body>
</html>