<div id="login" ng-controller="LoginController as loginCtrl">
	<div class="d-flex justify-content-center">
		<div class="col-sm-4">
			<form class="form-horizontal login-box" name="loginForm" id="loginForm" role="form"
				  ng-submit="loginForm.$valid && loginCtrl.save()" novalidate>

				<a ui-sref="home"><img width="15%" src="../assets/img/icone2.png"></a>
				<h3>Login</h3><br>

				<div class="form-group required">
					<input type="text" name="username" id="username" required placeholder="Usuário"
						class="form-control input_login" ng-model="loginCtrl.data.nome" aria-describedby="invalid_user"
						ng-class="{'is-invalid': $root.invalid(loginForm, loginForm.username)}"/>

					<div id="invalid_user" class="invalid-feedback text-left">
						<b>Campo obrigatório</b>
					</div>
				</div>

				<div class="form-group required">
					<input type="password" name="password" id="password" required placeholder="Senha"
						class="form-control input_login" ng-model="loginCtrl.data.senha" aria-describedby="invalid_password"
						ng-class="{'is-invalid': $root.invalid(loginForm, loginForm.password)}"/>

					<div id="invalid_password" class="invalid-feedback text-left">
						<b>Campo obrigatório</b>
					</div>
				</div>

				<br>

				<div class="form-group">
					<div class="d-flex justify-content-center">
						<div class="col-sm-6">
							<button type="submit" class="btn btn-success btn-block" ng-disabled="loginCtrl.processando">
								<div class="spinner-button" ng-if="loginCtrl.processando">
									<div class="bounce1"></div>
									<div class="bounce2"></div>
									<div></div>
								</div>
								<span ng-if="!loginCtrl.processando">Entrar</span>
							</button>
						</div>
					</div><br>
					<div class="col-sm-12">
						<p>Não possui conta?<a class="text-white" ui-sref="signup"><b> Cadastre-se</b></a></p>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>