<div ng-controller="LoginController as loginCtrl" style="padding-top: 60px;">
	<div class="col-md-6 col-md-offset-3">
		<h1 class="text-center">Entrar</h1>
		
		<div class="panel" style="margin-top: 30px;">
			<form class="form-horizontal" name="loginForm" id="loginForm" role="form" 
				ng-submit="loginForm.$valid && loginCtrl.save()" novalidate>
			
				<div class="panel-body">
					<div class="form-group required" style="margin-top: 30px;"
						ng-class="{'has-error': $root.invalid(loginForm, loginForm.username)}">
						
						<label class="col-sm-4 control-label" required="true">Nome de usuário</label>
						<div class="col-sm-6">
							<input type="text" name="username" id="username" required
								class="form-control" ng-model="loginCtrl.data.username"/>
						</div>
						
						<div ng-messages="loginForm.username.$error" ng-if="$root.invalid(loginForm, loginForm.username)">
							<div ng-message="required" class="help-block">Campo obrigatório</div>
						</div>
					</div>
					
					<div class="form-group required" style="margin-top: 30px;"
						ng-class="{'has-error': $root.invalid(loginForm, loginForm.password)}">
						
						<label class="col-sm-4 control-label">Senha</label>
						<div class="col-sm-6">
							<input type="password" name="password" id="password" required
								class="form-control" ng-model="loginCtrl.data.password"/>
						</div>
						
						<div ng-messages="loginForm.password.$error" ng-if="$root.invalid(loginForm, loginForm.password)">
							<div ng-message="required" class="help-block">Campo obrigatório</div>
						</div>
					</div>
				</div>
				
				<div class="form-group" style="margin-top: 30px;"> 
					<div class="col-md-offset-3 col-md-6 text-center">
						<button type="submit" class="btn btn-primary btn-block" ng-disabled="loginCtrl.processando">
							<div class="spinner-button" ng-if="loginCtrl.processando">
								<div class="bounce1"></div>
								<div class="bounce2"></div>
								<div></div>
							</div>
							<span ng-if="!loginCtrl.processando">Cadastrar</span>
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>