<div ng-controller="SignUpController as signUpCtrl" class="background-gradient">
	<div class="d-flex justify-content-center">
		<div class="col-md-4">
			<form class="form-horizontal login-box" name="signUpForm" id="signUpForm" role="form"
				ng-submit="signUpForm.$valid && signUpCtrl.save()" novalidate>

				<a ui-sref="home"><img width="15%" src="../assets/img/icone2.png"></a>
				<h3>Crie sua conta</h3><br>

				<div class="form-group required">
					<input type="text" name="username" id="username" required placeholder="Nome de usuário"
						class="form-control input_login" ng-model="signUpCtrl.data.nome" aria-describedby="invalid_user"
						ng-class="{'is-invalid': $root.invalid(signUpForm, signUpForm.username)}"/>

					<div id="invalid_user" class="invalid-feedback text-left">
						<b>Campo obrigatório</b>
					</div>
				</div>

				<div class="form-group required">
					<input type="email" name="email" id="email" required placeholder="E-mail"
						class="form-control input_login" ng-model="signUpCtrl.data.email" aria-describedby="invalid_email"
						ng-class="{'is-invalid': $root.invalid(signUpForm, signUpForm.email)}"/>

					<div id="invalid_email" class="invalid-feedback text-left">
						<b>Campo obrigatório</b>
					</div>
				</div>

				<div class="form-group required">
					<input type="password" name="password" id="password" required placeholder="Senha"
						class="form-control input_login" ng-model="signUpCtrl.data.senha" aria-describedby="invalid_password"
						ng-class="{'is-invalid': $root.invalid(signUpForm, signUpForm.password)}"/>

					<div id="invalid_password" class="invalid-feedback text-left">
						<b>Campo obrigatório</b>
					</div>
				</div>
				<br>
				<div class="form-group">
					<div class="d-flex justify-content-center">
						<div class="col-sm-6">
							<button type="submit" class="btn btn-success btn-block" ng-disabled="signUpCtrl.processando">
								<div class="spinner-button" ng-if="signUpCtrl.processando">
									<div class="bounce1"></div>
									<div class="bounce2"></div>
									<div></div>
								</div>
								<span ng-if="!signUpCtrl.processando">Cadastrar</span>
							</button>
						</div>
					</div><br>
					<div class="col-sm-12">
						<p>Já possui conta?<b><a class="text-white" ui-sref="login"> Logar </a></b></p>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>