<div ng-controller="PostController as postCtrl" class="expanded-post">

    <div class="card question-card">
        <div class="card-header post-header">
            <h4><span class="score-number">{{postCtrl.post.nomeAutor}}:</span> {{postCtrl.post.titulo}}</h4>
            <div class="score-box">
                <button class="btn btn-link color-green" title="Like"
                   id="button-like-{{postCtrl.post.id}}"
                   ng-click="postCtrl.giveLike(postCtrl.post.id)">
                    <i class="fa fa-chevron-circle-up fa-lg"></i>
                </button>
                <span class="score-number" title="Likes">{{postCtrl.post.curtidas}}</span>
                <button class="btn btn-link color-red" title="Dislike"
                        id="button-dislike-{{postCtrl.post.id}}"
                        ng-click="postCtrl.giveDislike(postCtrl.post.id)">
                    <i class="fa fa-chevron-circle-down fa-lg"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <p class="card-text">{{postCtrl.post.conteudo}}</p>
            <div class="post-buttons">
                <a href="#" class="btn btn-success" title="Responder">
                    <i class="fa fa-comment"></i>
                </a>
                <a href="#" class="btn echo-question-button" title="Ecoar Pergunta">
                    <i class="fa fa-star"></i>
                </a>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="post-replies">
        <div class="answers-box" ng-repeat="post in postCtrl.retornoRespostas">
            <div class="card answer-card">
                <div class="card-header answer-header">
                    <h6 class="card-title">{{post.nomeAutor}}:</h6>
                    <div class="score-box">
                        <button class="btn btn-link color-green" title="Like"
                                id="button-like-{{post.id}}"
                                ng-click="postCtrl.giveLike(post.id)">
                            <i class="fa fa-chevron-circle-up "></i>
                        </button>
                        <span class="score-number-small" title="Likes">{{post.curtidas}}</span>
                        <button class="btn btn-link color-red" title="Dislike"
                                id="button-dislike-{{post.id}}"
                                ng-click="postCtrl.giveDislike(post.id)">
                            <i class="fa fa-chevron-circle-down"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <p class="card-text">{{post.conteudo}}</p>
                    <div class="post-buttons">
                        <a href="#" class="btn btn-success" title="Responder">
                            <i class="fa fa-comment"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card comment-card" ng-repeat="comment in post.comentarios">
                <div class="card-body comment-body">
                    <span class="card-text">
                        <span class="comment-autor">{{comment.nomeAutor}}:</span>
                        {{comment.conteudo}}
                    </span>
                    <div class="score-box">
                        <button class="btn btn-link color-green" title="Like"
                                id="button-like-{{comment.id}}"
                                ng-click="postCtrl.giveLike(comment.id)">
                            <i class="fa fa-chevron-circle-up "></i>
                        </button>
                        <span class="score-number-extra-small" title="Likes">{{comment.curtidas}}</span>
                        <button class="btn btn-link color-red" title="Dislike"
                                id="button-dislike-{{comment.id}}"
                                ng-click="postCtrl.giveDislike(comment.id)">
                            <i class="fa fa-chevron-circle-down"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
