<div ng-controller="PostsController as postCtrl" class="expanded-post">
    <div class="d-flex bd-highlight ml-5">
        <div class="flex-grow-1 bd-highlight">
            <div ng-if="postCtrl.pesquisa && postCtrl.retornoPesquisa && postCtrl.retornoPesquisa.length > 0">
                <h3 class="ml-5">Resultados para "{{postCtrl.pesquisa}}"</h3>
            </div>

            <div ng-if="!postCtrl.retornoPesquisa || postCtrl.retornoPesquisa.length == 0">
                <h3 class="ml-5">Nenhum resultado encontrado</h3>
            </div>

            <div ng-if="!postCtrl.pesquisa && postCtrl.retornoPesquisa && postCtrl.retornoPesquisa.length > 0">
                <h3 class="ml-5">Todas as postagens</h3>
            </div>
        </div>
        <div class="bd-highlight">
            <button ng-if="postCtrl.user" type="button" class="btn btn-info" ng-click="postCtrl.criarPost()"><i
                    class="fa fa-plus"></i> Criar Postagem
            </button>
        </div>
    </div>
    <br>
    <br>

   <div class="card question-card" ng-repeat="post in postCtrl.retornoPesquisa">
                <div class="card-header post-header">
                    <h4 ui-sref="post({id: post.id})" class="clickable">
                        <span class="score-number">{{post.nomeAutor}}: </span>
                        {{post.titulo}}
                    </h4>
                    <div class="post-information">
                        <p class="h6 rounded border p-1"
                           ng-class="{'border-success text-success': post.curtidas > 0 ,
                                      'border-light text-light': post.curtidas == 0,
                                      'border-danger text-danger': post.curtidas < 0}">
                            {{post.curtidas}} Likes
                        </p>
                        <p class="h6 text-dark rounded border border-dark p-1">
                            {{post.comentarios.length}} Respostas
                        </p>
                    </div>
                </div>
                <div class="card-body">
                    <p class="card-text">{{post.conteudo}}</p>
                </div>
            </div>
</div>
<createpost></createpost>
