<div ng-controller="PostsController as postCtrl">

    <div ng-if="postCtrl.pesquisa && postCtrl.retornoPesquisa && postCtrl.retornoPesquisa.length > 0">
        <h3>Resultados para "{{postCtrl.pesquisa}}"</h3>
    </div>

    <div ng-if="!postCtrl.retornoPesquisa || postCtrl.retornoPesquisa.length == 0">
        <h3>Nenhum resultado encontrado para "{{postCtrl.pesquisa}}"</h3>
    </div>

    <div class="panel-group" style="padding-top: 30px;">
        <div class="row" ng-repeat="post in postCtrl.retornoPesquisa">
            <div class="panel panel-info ">
                <div class="panel-heading post-header">
                    <h5><a ui-sref="post({id: post.id})">{{post.titulo}}</a></h5>
                    <div>
                        <h5>{{post.relevancia}}</h5>
                    </div>
                </div>
                <div class="panel-body">{{post.conteudo}}</div>
            </div>
        </div>
    </div>
</div>